/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 35rem) {

    section.fly {display:flex;}
section.gerv {display:flex;}
section.punta {display:flex;}
   
    div.forecastBox{display:flex;
        background-color:azure;
        width:100%}
        .forecast{
        margin: auto;
        }

    
   
   
    .lazymontage {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    nav button {
        display: none;
    }

    nav ul.hide {
        display: block;
    }

    nav ul {
        margin-left: 2%;
    }

    nav ul li {
        float: left;
    }

    nav ul li a {
        border: none;
        border-right: 1px solid rgba (0, 0, 0, 0.3);
        padding: .8rem 1rem;
    }


    footer{
        padding:2%;
        display: grid;
       
        text-align: center;
        margin: auto;
        max-width: 820px;
      }
    



    /*-----------------alternating images----------------------*/
    h2 {
        text-align: center;
    }


    img.card {
        width: 100%;
        height: auto;
        padding: 0;
    }

    .data {
    
        color: #fff;
    }



    section:nth-child(odd) {
        flex-direction: row-reverse;
    }

    .towninfo {
        width: 300px;
    }

    .card h2 {
        font-size: 1rem;
    }

    .card h3 {
        font-size: 0.8rem;
    }




}
nav,
header,
main,
footer {
max-width: 960px;
margin: 0 auto;
}