header{
    background-color:#134C93;
    font-family: 'Trirong', Georgia, sans-serif;
    
    nav a { color: black; }
  }
  footer{
    background-color:#134C93;
    font-family: 'Trirong', Georgia, sans-serif;
    
    nav a { color: black; }
  }