header{
    background-color:#134C93;
    font-family: 'Trirong', Georgia, sans-serif;}
  
  footer{
    background-color:#134C93;
    font-family: 'Trirong', Georgia, sans-serif;}
    
 
    .home-grid {
        display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1em}  


    
    