header {

    font-family: 'Trirong', Georgia, sans-serif;
    background-color: #ccfbfe
}

footer {
    background-color: #ccfbfe;
    font-family: 'Trirong', Georgia, sans-serif;
}


.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 30% 40% 30%;
    max-width:960px;
    margin:0 auto;
    background-color:#cdaca1;
}



header {
    grid-column: 1/4;
    grid-row: 1/2;
    text-align: center;
    font-size: 45px;

    color: Black;
}

main {
    grid-column: 1/3;
    grid-row: 2/4;
    background-color:#CDCACC;
    padding: 20 px;
}

.image {
    grid-column: 3/4;
    grid-row: 2/4;
    background-color:#CDCACC;
}

footer {
    grid-column: 1/4;
    grid-row: 5;
    color:black;
}

h2 {
    font-size: 4em;
    text-align: center;
}

ul {
    font-size: 40px;
    text-align:left;
}